# Server
PORT=5000
NODE_ENV=development

# MongoDB connection string
# Local:  mongodb://127.0.0.1:27017/splitwise
# Atlas:  mongodb+srv://<user>:<password>@<cluster>.mongodb.net/splitwise?retryWrites=true&w=majority
MONGO_URI=mongodb://127.0.0.1:27017/splitwise

# JWT
JWT_SECRET=change_this_to_a_long_random_secret
JWT_EXPIRES_IN=7d
